.contenedor{
    display: block;
    
    
    
}
 header.cabecera{
    display: block;
    
    border: solid 5px black;
    height: 600px;
   
}

img.logo{

    float: left;
    width: 10%;
    margin-left: 5% ;
    margin-top: 5%;
}

nav.menu{
    float: right;
    width: 10%;
    margin-right: 20% ;
    margin-top: 5%;
}

.subtitulo{
    position: absolute;
    left: 5% ;
    top: 100% ;
    
  
}